.hide-on-mobile {
  display: none;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: inherit !important;
  }
}

.hide-on-desktop {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: inherit !important;
  }
}
